@import './app/base/style/variables.scss';

@import './app/base/style/form-container';
@import './app/base/style/toolbar';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: $font-family;
    background-color: $bgColor;
}

.mat-form-field,
button {
    width: 100%;
}

div.vertical-center {
    height: 100%;
    display: flex;
    align-items: center;
}

// scrollbar (https://www.digitalocean.com/community/tutorials/css-scrollbars)
body::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
    height: 10px; /* height of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #e8eff3; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #bbb; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #e8eff3; /* creates padding around scroll thumb */
}
